<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://cdn.rawgit.com/TeaMeow/TocasUI/master/dist/tocas.min.css">
  <title>NASA - hackathon</title>
</head>

<body>
  <nav class="narrow container">
    <div class="ts icon menu">
      <button class="ts circular large icon button">
        <i class="Search icon"></i>
      </button>
      <div class="ts circular input">
        <input type="text" placeholder="Search">
      </div>
      <div class="right menu">
        <button class="ts circular large icon button">
          <i class="Money icon"></i>
        </button>
        <button class="ts circular large icon button">
          <a href="main.html">
            <i class="Arrow Left icon"></i>
          </a>
        </button>
      </div>
    </div>
  </nav>
  <div class="ts fitted hidden divider"></div>
  <a class="ts card">
    <div class="content">
      <div class="header">
        Some very good program
      </div>
      <div class="meta">
        <div>We need you</div>
      </div>
    </div>
    <div class="symbol">
      <i class="World icon"></i>
    </div>
  </a>
  <a class="ts card">
    <div class="content">
      <div class="header">
        Yet another nice program
      </div>
      <div class="meta">
        <div>We need you too</div>
      </div>
    </div>
    <div class="symbol">
      <i class="World icon"></i>
    </div>
  </a>
  <div class="ts center aligned segment">Current Points: 50000pts</div>

</body>
</html>

