<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://cdn.rawgit.com/TeaMeow/TocasUI/master/dist/tocas.min.css">
  <title>NASA - hackathon</title>
</head>

<body>
  <nav class="narrow container">
    <div class="ts icon menu">
      <div class="right menu">
        <button class="ts circular large icon button">
          <a href="followed.html">
            <i class="Arrow Left icon"></i>
          </a>
        </button>
      </div>
    </div>
  </nav>
  <div class="ts fitted hidden divider"></div>
  <div>
    <div class="ts basic horizontally very padded dashed slate">
      <span class="header">Upload Photo</span>
    </div>
    <div class="ts center aligned heading slate">
      <div class="ts form">
        <div class="inline field">
          <label>Invader Name</label>
          <input type="text" placeholder="">
        </div>
        <div class="inline field">
          <label>Number</label>
          <input type="text" placeholder="">
        </div>
        <div class="inline field">
          <label>Note</label>
          <input type="text" placeholder="">
        </div>
        <div class="ts fluid stackable buttons">
          <button class="ts button">Confirm</button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>

