<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://cdn.rawgit.com/TeaMeow/TocasUI/master/dist/tocas.min.css">
  <title>NASA - hackathon</title>
</head>

<body>
  <nav class="narrow container">
    <div class="ts icon menu">
      <div class="right menu">
        <button class="ts circular large icon button">
          <a href="main.html">
            <i class="Arrow Left icon"></i>
          </a>
        </button>
      </div>
    </div>
  </nav>
  <div class="ts hidden divider"></div>
  <div class="ts very narrow container">
    <div class="ts centered card">
      <button class="ts large icon button">
        <a href="edit.html">
          <i class="Write icon"></i>Edit Invader
        </a>
      </button>
      <a class="image" href="#!">
        <img src="https://tocas-ui.com/assets/img/15d7510.png">
      </a>
      <div class="center aligned Content">
        <a class="header" href="#!">50 pts</a>
      </div>
      <div class="center aligned description">
        the quick brown fox jumps over the lazy dog
        the quick brown fox jumps over the lazy dog
        the quick brown fox jumps over the lazy dog
      </div>
    </div>
  </div>
</body>
</html>

