<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://cdn.rawgit.com/TeaMeow/TocasUI/master/dist/tocas.min.css">
  <title>NASA - hackathon</title>
</head>

<body>
  <nav class="narrow container">
    <div class="ts icon menu">
      <div class="right menu">
        <button class="ts circular large icon button">
          <a href="main.html">
            <i class="Arrow Left icon"></i>
          </a>
        </button>
      </div>
    </div>
  </nav>
  <div class="ts hidden divider"></div>
  <div class="ts container">
    <a href="followed.html">
      <div class="ts clickable slate">
        <i class="mouse pointer icon"></i>
        <span class="header">點此看看</span>
        <span class="description">點擊此處會有相關的回饋效果。</span>
      </div>
    </a>
  </div>
</body>
</html>

