<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://cdn.rawgit.com/TeaMeow/TocasUI/master/dist/tocas.min.css">
  <title>NASA - hackathon</title>
</head>

<body>
  <nav class="narrow container">
    <div class="ts icon menu">
      <a class="item">
        Honda Yei
      </a>
      <div class="right menu">
        <button class="ts circular large icon button">
          <a href="main.html">
            <i class="Arrow Left icon"></i>
          </a>
        </button>
      </div>
    </div>
  </nav>
  <div class="ts hidden divider"></div>
  <div class="ts container">
    <div class="ts message">
      Friendly Points: 
      <div class="ts small positive progress">
        <div class="bar" style="width: 60%">
          <span class="text">60%</span>
        </div>
      </div>
      Have followed: 
      <div class="ts small positive progress">
        <div class="bar" style="width: 32%">
          <span class="text">32%</span>
        </div>
      </div>
    </div>
    <div class="ts hidden divider"></div>
    <div class="ts three cards">
      <div class="ts card">
        <div class="image">
          <img src="https://tocas-ui.com/assets/img/15d7510.png">
        </div>
        <div class="content">
          <a class="description">Karen</a>
        </div>
      </div>
      <div class="ts doubling card">
        <div class="image">
          <img src="https://tocas-ui.com/assets/img/15d7510.png">
        </div>
        <div class="content">
          <a class="description">Caris</a>
        </div>
      </div>
      <div class="ts card">
        <div class="image">
          <img src="https://tocas-ui.com/assets/img/15d7510.png">
        </div>
        <div class="content">
          <a class="description">erium</a>
        </div>
      </div>
      <div class="ts card">
        <div class="image">
          <img src="https://tocas-ui.com/assets/img/15d7510.png">
        </div>
        <div class="content">
          <a class="description">Natsuki</a>
        </div>
      </div>
      <div class="ts card">
        <div class="image">
          <img src="https://tocas-ui.com/assets/img/15d7510.png">
        </div>
        <div class="content">
          <a class="description">Avane</a>
        </div>
      </div>
      <div class="ts card">
        <div class="image">
          <img src="https://tocas-ui.com/assets/img/15d7510.png">
        </div>
        <div class="content">
          <a class="description">Eneko</a>
        </div>
      </div>
      <div class="ts card">
        <div class="image">
          <img src="https://tocas-ui.com/assets/img/15d7510.png">
        </div>
        <div class="content">
          <a class="description">Iknore</a>
        </div>
      </div>
      <div class="ts card">
        <div class="image">
          <img src="https://tocas-ui.com/assets/img/15d7510.png">
        </div>
        <div class="content">
          <a class="description">Aira</a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>

