<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://cdn.rawgit.com/TeaMeow/TocasUI/master/dist/tocas.min.css">
  <title>NASA - hackathon</title>
</head>

<body>
  <nav class="narrow container">
    <div class="ts icon menu">
      <a class="item">
        <i class="World icon"></i>world
      </a>
      <a class="item">
        <i class="Map icon"></i>region
      </a>
      <div class="right menu">
        <button class="ts circular large icon button">
          <a href="main.html">
            <i class="Arrow Left icon"></i>
          </a>
        </button>
      </div>
    </div>
  </nav>
  <div class="ts hidden divider"></div>
  <div class="ts container">
    <table class="ts celled table">
      <thead>
        <tr>
          <th>Rank</th>
          <th>Name</th>
          <th>Points</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Chi Tien Yei</td>
          <td>50,000 pts</td>
        </tr> 
        <tr class="error">
          <td>2</td>
          <td>Honda Yei</td>
          <td>40,000 pts</td>
        </tr> 
        <tr>
          <td>3</td>
          <td>Yao Cheng Yei</td>
          <td>30 pts</td>
        </tr> 
      <tbody>
    </table>
  </div>

</body>
</html>

